{%extends 'movies/base.html'%}

 {% block content %}

 <div class="container-fluid movies">
   <h5 class="title">Trending movies</h5>

   <div class="row">
      {% for movie in trending %}
      <a class="image-card" href="/movie/{{movie.id}}" ><img  src="{{url}}/{{movie.backdrop_path}}"   alt=""  /></a>       
      {% endfor %}
   </div>

   <h5 class="title">Popular movies</h5>

     <div class="row">
        {% for movie in popular %}
        <a class="image-card" href="/movie/{{movie.movie_id}}" ><img  src="{{movie.image_path}}"   alt=""  /></a>       
        {% endfor %}
     </div>

     <h5 class="title">Upcoming Movies</h5>

     <div class="row">
        {% for movie in upcoming %}
        <a class="image-card" href="movie/{{movie.movie_id}}"><img src="{{url}}/{{movie.image_path}}" alt="" /></a>
       
        {% endfor %}
     </div>

    </div>

 {% endblock%}