{%extends 'movies/base.html'%}

 {% block content %}

 <div class="container-fluid movies">
    {% if searched_movie %}
    <h5>Found {{searched_movie|length }} of searched movie {{message}}.</h5>
    <div class="row">
        {% for movie in searched_movie %}
        <a class="image-card" href="/movie/{{movie.id}}" ><img  src="{{url}}/{{movie.poster_path}}"   alt=""  /></a>       
        
        {% endfor %}
     </div>
  {% else %}
    <h5> Found 0 images for the search movie {{message}}.</h5>
  {% endif %}
     

     

</div>

 {% endblock%}